<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style>
	/* Remove the navbar's default rounded borders and increase the bottom margin */ 
	.navbar {
	  margin-bottom: 50px;
	  border-radius: 0;
	}

	/* Remove the jumbotron's default bottom margin */ 
	 .jumbotron {
	  margin-bottom: 0;
	}

	/* Add a gray background color and some padding to the footer */
	footer {
	  background-color: #f2f2f2;
	  padding: 25px;
	}
	</style>
</head>

<body>
	<h3>Order ID : {{ params['order_id'] }}</h3><br>
    <h3>Payment Status: {{ params['result'] }}</h3>
	    
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Amazin</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>Success Notification Boxes</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static',filename='styles/style.css') }}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  
  <div id="w">
    <div id="content">
      <!-- Icons source http://dribbble.com/shots/913555-Flat-Web-Elements -->
      <div class="notify successbox">
      	<style type="text/css">
      		body{
      			text-align: center;
      		}
      	</style>
        <h1>{{ params['status'] }}!</h1>
        <span class="alerticon"></span>
        <p>The payment is successful.<br>Order ID : {{ params['order_id'] }}
        </p>
      </div>
      
      
    </div><!-- @end #content -->
  </div><!-- @end #w -->

</body>
</html>